<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoopla GraphQL</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div id="main"></div>
</body>
<script defer="defer" src="{{manifest}}"></script>
<script defer="defer" src="{{vendor}}"></script>
<script defer="defer" src="{{app}}"></script>
</html>
